In [19]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [20]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN'], axis=1, inplace=True)

# Display the dataset to confirm the drop
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [21]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [22]:
# Look at NAME value counts for binning
name_count = application_df['NAME'].value_counts()
name_count

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [23]:
# Choose a cutoff value and create a list of names to be replaced
# use the variable name `names_to_replace`
names_to_replace = list(name_count[name_count < 10].index)

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                      21022
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CASCADE 4-H FOUNDATION                        10
FREE & ACCEPTED MASONS OF WASHINGTON          10
NEW MEXICO GARDEN CLUBS INC                   10
NATIONAL ASSOCIATION OF HISPANIC NURSES       10
UNION OF CALIFORNIA STATE WORKERS             10
Name: NAME, Length: 223, dtype: int64

In [24]:
# Look at APPLICATION_TYPE value counts for binning
application_type_count = application_df['APPLICATION_TYPE'].value_counts()
application_type_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [25]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_type_count[application_type_count < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [26]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [27]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 500].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [28]:
# Convert categorical data to numeric with `pd.get_dummies`
application_numeric_df = pd.get_dummies(application_df)
application_numeric_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [32]:
# Split our preprocessed data into our features and target arrays
y = application_numeric_df['IS_SUCCESSFUL']
X = application_numeric_df.drop(columns=['IS_SUCCESSFUL'])

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [33]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [34]:
Compile, Train and Evaluate the Model

SyntaxError: invalid syntax (3437428442.py, line 1)

In [35]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  30
hidden_nodes_layer2 = 27
hidden_nodes_layer3 = 21

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 30)                8040

 dense_5 (Dense)             (None, 27)                837

 dense_6 (Dense)             (None, 21)                588

 dense_7 (Dense)             (None, 1)                 22

=================================================================
Total params: 9487 (37.06 KB)
Trainable params: 9487 (37.06 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [36]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [37]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4888 - accuracy: 0.7659
Epoch 2/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4423 - accuracy: 0.7856
Epoch 3/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4385 - accuracy: 0.7864
Epoch 4/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4358 - accuracy: 0.7881
Epoch 5/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4346 - accuracy: 0.7885
Epoch 6/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4337 - accuracy: 0.7893
Epoch 7/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4323 - accuracy: 0.7909
Epoch 8/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4319 - accuracy: 0.7910
Epoch 9/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4313 - accuracy: 0.7900
Epoch 10/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4310 - accuracy: 0.7912
Epoch 11/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4300 - accuracy: 0.7922
Epoch 12/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4293 - accuracy: 0.7914
Epoch 13/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4290 - accuracy: 0.7926
Epoch 14/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4285 - accuracy: 0.7921
Epoch 15/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4282 - accuracy: 0.7930
Epoch 16/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4278 - accuracy: 0.7935
Epoch 17/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4270 - accuracy: 0.7944
Epoch 18/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4264 - accuracy: 0.7929
Epoch 19/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4263 - accuracy: 0.7940
Epoch 20/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4258 - accuracy: 0.7939
Epoch 21/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4248 - accuracy: 0.7946
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4255 - accuracy: 0.7937
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4244 - accuracy: 0.7947
Epoch 24/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4245 - accuracy: 0.7946
Epoch 25/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4245 - accuracy: 0.7941
Epoch 26/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4233 - accuracy: 0.7948
Epoch 27/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4234 - accuracy: 0.7957
Epoch 28/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4229 - accuracy: 0.7960
Epoch 29/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4230 - accuracy: 0.7961
Epoch 30/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4227 - accuracy: 0.7964
Epoch 31/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4223 - accuracy: 0.7961
Epoch 32/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4220 - accuracy: 0.7956
Epoch 33/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4219 - accuracy: 0.7965
Epoch 34/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4215 - accuracy: 0.7956
Epoch 35/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4215 - accuracy: 0.7972
Epoch 36/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4210 - accuracy: 0.7973
Epoch 37/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4204 - accuracy: 0.7964
Epoch 38/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4209 - accuracy: 0.7974
Epoch 39/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4201 - accuracy: 0.7979
Epoch 40/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4202 - accuracy: 0.7963
Epoch 41/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4200 - accuracy: 0.7972
Epoch 42/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4198 - accuracy: 0.7969
Epoch 43/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4192 - accuracy: 0.7973
Epoch 44/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4193 - accuracy: 0.7977
Epoch 45/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4190 - accuracy: 0.7976
Epoch 46/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4190 - accuracy: 0.7982
Epoch 47/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4187 - accuracy: 0.7986
Epoch 48/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4185 - accuracy: 0.7974
Epoch 49/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4184 - accuracy: 0.7974
Epoch 50/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4191 - accuracy: 0.7969
Epoch 51/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4183 - accuracy: 0.7980
Epoch 52/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4183 - accuracy: 0.7976
Epoch 53/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4175 - accuracy: 0.7984
Epoch 54/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4182 - accuracy: 0.7972
Epoch 55/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4173 - accuracy: 0.7974
Epoch 56/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4174 - accuracy: 0.7977
Epoch 57/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4175 - accuracy: 0.7984
Epoch 58/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4173 - accuracy: 0.7977
Epoch 59/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4175 - accuracy: 0.7980
Epoch 60/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4172 - accuracy: 0.7981
Epoch 61/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4175 - accuracy: 0.7966
Epoch 62/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4170 - accuracy: 0.7983
Epoch 63/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4174 - accuracy: 0.7986
Epoch 64/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4167 - accuracy: 0.7994
Epoch 65/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4162 - accuracy: 0.7985
Epoch 66/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4165 - accuracy: 0.7992
Epoch 67/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4160 - accuracy: 0.7985
Epoch 68/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4164 - accuracy: 0.7993
Epoch 69/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4162 - accuracy: 0.7989
Epoch 70/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4162 - accuracy: 0.7985
Epoch 71/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4160 - accuracy: 0.7986
Epoch 72/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4160 - accuracy: 0.7998
Epoch 73/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4157 - accuracy: 0.7990
Epoch 74/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4157 - accuracy: 0.7988
Epoch 75/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4157 - accuracy: 0.7990
Epoch 76/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4153 - accuracy: 0.7998
Epoch 77/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4156 - accuracy: 0.7990
Epoch 78/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4159 - accuracy: 0.7998
Epoch 79/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4157 - accuracy: 0.7989
Epoch 80/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4147 - accuracy: 0.7993
Epoch 81/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4155 - accuracy: 0.7993
Epoch 82/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4152 - accuracy: 0.7988
Epoch 83/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4148 - accuracy: 0.7997
Epoch 84/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4147 - accuracy: 0.7996
Epoch 85/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4146 - accuracy: 0.7998
Epoch 86/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4152 - accuracy: 0.7994
Epoch 87/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4146 - accuracy: 0.8001
Epoch 88/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4146 - accuracy: 0.8004
Epoch 89/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4145 - accuracy: 0.8003
Epoch 90/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4151 - accuracy: 0.7999
Epoch 91/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4145 - accuracy: 0.7996
Epoch 92/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4140 - accuracy: 0.8004
Epoch 93/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4145 - accuracy: 0.8005
Epoch 94/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4143 - accuracy: 0.7996
Epoch 95/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4140 - accuracy: 0.8004
Epoch 96/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4142 - accuracy: 0.8002
Epoch 97/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4144 - accuracy: 0.8005
Epoch 98/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4142 - accuracy: 0.7993
Epoch 99/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4139 - accuracy: 0.8002
Epoch 100/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4137 - accuracy: 0.7996

In [43]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4826 - accuracy: 0.7787 - 724ms/epoch - 3ms/step
Loss: 0.48257580399513245, Accuracy: 0.7786588668823242

In [45]:
# Export our model to HDF5 file

nn.save('/content/AlphabetSoupCharity_Optimization.h5')